//===============================================================================
//===============================================================================
// Base
//===============================================================================
//===============================================================================

body{
	font-family: "Aileron"!important;
	font-weight: 200;
	font-size: 15px;
}

.main{
	padding-top:50px;
}

.breadcrumb-container{
	background:#F5E8E5;
	padding:10px 0;	
	margin-bottom:10px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(245,232,229,0.5);
	-moz-box-shadow: 0px 3px 5px 0px rgba(245,232,229,0.5);
	box-shadow: 0px 3px 5px 0px rgba(245,232,229,0.5);
	.woocommerce-breadcrumb{
		font-weight:600;
		font-family: "Novecento";
		color:#000;
		text-transform:uppercase;
		margin-bottom:0;
		font-size: 11px;
		letter-spacing: 1px;
		a{
			color:#000;
			font-weight:500;
		}
		.fa{
			margin:0 7px;
		}
	}
}

.fancybox-close {
	background:url(../img/sprites/fancybox_close_override.png) no-repeat !important;
    position: absolute;
    top: 0!important;
    right: 0!important;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040;
}

.headline-title-container{
	margin-bottom:40px;
	.headline-title-left{
		height:51px;
		background:url(../img/sprites/bg_bestseller.png) no-repeat left;
	}
	.headline-title-center{
		height:51px;
		font-size: 15px;
  		padding: 6px 0 0;
		/*font-size:22px;*/
		line-height:240%;
		text-transform:uppercase;
		text-align:center;
		font-family: "Novecento";
		font-weight: 600;
		letter-spacing: 4px;
		background:url(../img/sprites/bg_bestseller.png) no-repeat center;
	}
	.headline-title-right{
		height:51px;
		background:url(../img/sprites/bg_bestseller.png) no-repeat right;
	}
}

.img-border{
	border:1px solid #E1E1E1;
}

.img-center{
	margin:0 auto;
}

.main-content-wrapper{
	margin:0 auto;
	float:none;
}

.noPadding{
	padding:0;
}

.term-description{
	text-align:center;
	margin-bottom:40px;
}

#connect-popup{
	position:fixed;
	background:#F1F1F1;
	-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.6);
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.6);
	width:520px;
	//height:220px;
	padding:40px;
	top:30%;
	left:50%;
	margin-left:-260px;
	text-align:center;
	z-index: 1040;
	h2{
		text-transform:uppercase;
		font-family: "Novecento";
	}
	input[type=email]{
		border: medium none;
		height: 46px;
		line-height: 100%;
		margin-right: 10px;
		padding: 0 20px;
		width: 70%;
	}
	input[type=submit]{
		background: #f6d8d3 none repeat scroll 0 0;
		border: medium none;
		font-family: "Novecento";
		font-size: 19px;
		font-weight: 700;
		height: 46px;
		letter-spacing: 2px;
		line-height: 100%;
		padding: 0 20px;
	}
}

.main-section-container{
	margin-top:40px;
	padding-bottom:50px;
}

.pagination{
	width:100%;
	text-transform:uppercase;	
	color:#999A9E;
	font-size:15px;
	.next{
		float:right;
	}
	.previous{
		float:left;
	}
	a{
		color:#000;
		
	}
}

//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {
	.main{
		padding-top:181px;
	}

	.headline-title-container .headline-title-center{
		font-size: 22px;
		  padding-top: inherit;
  		padding-bottom: inherit;
	}
}

//===============================================================================
//===============================================================================
// Desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {
	div.col-sm-7.five-three {
    	width: 60% !important;
    }

    div.col-sm-5.five-two {
    	width: 40% !important;
    }
}

//===============================================================================
//===============================================================================
// Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {

}