
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=51269764cdddf3157cf075b72b833d60
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress
