//===============================================================================
//===============================================================================
// Base
//===============================================================================
//===============================================================================

.ingredient-section{
	text-align:center;
	/*margin-top:40px;*/
	.ingredient-item-container{
		.ingreditent-row{
			margin-bottom:40px;
			.ingredient-content{
				h2{
					text-align:center;
					font-family: "PlayfairDisplay";
					text-transform:uppercase;
					font-size:23px;
					color:#000;
					position: relative;
					z-index: 1;
					overflow: hidden;
					span{
						display:inline-block;
					}
				}
				h2:before, h2:after {
					position: absolute;
					top: 51%;
					overflow: hidden;
					width: 10px;
					height: 2px;
					content: '\a0';
					background-color: #000;
				}
				h2:before {
					margin-left: -15px;
					text-align: right;
				}
				h2:after {
					margin-left: 5px;
				}
			}
		}
	}
}

//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {
}

//===============================================================================
//===============================================================================
// Desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {
	
}

//===============================================================================
//===============================================================================
// Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {

}