//===============================================================================
//===============================================================================
// Base
//===============================================================================
//===============================================================================

.media-coverage-section{
	text-align:center;
	margin-top:40px;
	.media-item-container{
		margin-bottom:40px;
		.img-responsive{
			max-width:none;
			width:100%;
		}
		.media-headline{
			margin:10px 0;
			height:65px;
			font-size:13px;
			font-family: "PlayfairDisplay";
			font-weight: 400;
		}
	}
}

//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {
}

//===============================================================================
//===============================================================================
// Desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {
	
}

//===============================================================================
//===============================================================================
// Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {

}