//===============================================================================
//===============================================================================
// Base
//===============================================================================
//===============================================================================

.stocklist-section{	
	.headline-title-container{
		margin-bottom:20px;
	}
	.stocklist-container{
		text-align:center;
		font-size:16px;
		margin-bottom:50px;
		h2{
			border-bottom:1px solid #c9c8c8;
			margin-bottom:50px;
			display:inline-block;
			text-transform:uppercase;
			font-family: "PlayfairDisplay";
		}
		.stocklist-row{
			background: transparent url(../img/divider.gif) 50% top repeat-y;
			.stocklist-item{
				padding:0 50px 20px 50px;
				h4{
					font-weight:600;
					text-transform:uppercase;
					font-size:16px;
					margin-top:0;
					margin-bottom:5px;
				}
				/*&:nth-child(2){
					border-left:2px solid #C9C8C8;
				}*/
			}
		}
	}
}


//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {
	.stocklist-section .stocklist-container .stocklist-row:last-child .stocklist-item {
	  padding-bottom: 0;
	}
}

//===============================================================================
//=============================================================================== 
// Desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {

}

//===============================================================================
//===============================================================================
// Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {

}