//===============================================================================
//===============================================================================
// Base
//===============================================================================
//===============================================================================
//.content-info { }
footer{
	background:url(../img/sprites/border_footer.jpg) repeat-x #EAEBEB;
	padding-top:60px;
	padding-bottom:20px;
	.social-link-container{
		margin-bottom:15px;
		text-align:left;
	}
	.footer-link-container{
		.footer_link{
			font-size: 12px;
			padding-left:0;
			font-family: "Novecento";
			letter-spacing: 1px;

			&:first-child > li{
				padding-bottom:20px;
				text-transform:uppercase;
			}
			&:first-child > li > a{
				font-weight: 600;
			}
			li{
				list-style:none;
				margin-right:5.5%!important;
				text-align: center;
				white-space:nowrap;
				a{
					color:#000;
					font-weight: 400;
				}
			}
			.sub-menu{
				margin-top:10px;
				padding-left:0;
			}
		}
	}
	.copyright{
		text-transform:uppercase;
		font-size:11px;
		font-family: "Novecento";
		font-weight: 400;
		
		span{
			display:inline-block;
			margin:0 5px;
		}
		a{
			color:#000;
		}
	}
}

.social-link-container a{
	background:url(../img/sprites/sprites_social_media.png) no-repeat;
	width:21px;
	height:21px;
	margin-right:10px;
	display:inline-block;
	&:last-child{
		margin-right:0;
	}
	
	&.icon_facebook{
		background-position:0 0;
	}
	
	&.icon_instagram{
		background-position:-34px 0;
	}
	
	&.icon_weibo{
		background-position:-68px 0;
	}
	
	&.icon_wechat{
		background-position:-102px 0;
	}
	
	&.icon_pinterest{
		background-position:-136px 0;
	}
	
	&.icon_twitter{
		background-position:-170px 0;
	}
	
	&.icon_youtube{
		background-position:-204px 0;
	}
	
	&.icon_linkin{
		background-position:-239px 0;
	}
}

//===============================================================================
//===============================================================================
// tablet
//===============================================================================
//===============================================================================
@media (min-width: @screen-sm-min) {
	footer{
		.footer-link-container{
			.footer_link{
				li{
					text-align: left;
				}
	
				&:first-child > li{
					float:left;
					width:45%;
				}
			}
		}
	}
}

//===============================================================================
//===============================================================================
// Desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-md-min) {
	footer{
		.social-link-container{
			margin-bottom:15px;
			text-align:right;
		}
		.footer-link-container{
			.footer_link{
				&:first-child > li{
					float:left;
					width:auto;
					margin-right:40px;
					&:last-child{
						margin-right:0!important;
					}
				}
				.sub-menu{
					margin-top:10px;
					padding-left:0;
				}
			}
		}
	}
}

//===============================================================================
//===============================================================================
// Wide desktop
//===============================================================================
//===============================================================================
@media (min-width: @screen-lg-min) {

}